<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>峰裕尚火鍋</title> 
    <meta name ="峰裕尚火鍋">
        <style>
		@import url("fong.css");
		</style>
    </head>
    <body>

        <section class = "firsthead">
            <div>
            <h1>logo 峰裕尚火鍋</h1>
            </div>
        </section>
        <div class = "bord">
            <div class = "menu-button">
                <div class = "first">
                    <a>首頁</a>
                </div>  
                 
                <div class = "second">
                    <a>鍋物</a>
                </div>

                <div class = "third">
                    <a>分店據點</a>
                </div>

                <div class = "forth">
                    <a>店介紹</a>
                </div>
            </div>
    
                
        </div>

        <section class = "main-content">

        <div class = "introduce">
                <h2 style = "margin:50px 50px 50px 50px">
                    內容
                </h2>

        </div>
        </section>

        <section class = "end">
            <div>
            </div>
        </section>
    </body>
</html>